/**
 * The following styles get applied inside the editor only.
 */

.wp-block-micemade-woo-lookblock:hover {
	outline: 1px dotted #f00;
}


// Custom component 'UnitRangeControl'.
.editor-range-unit-combo {
	
	align-items: flex-start;
	
	.components-range-control {
		flex-basis: 75%;
		margin-block-end: 10px;
	}
}

// Custom component 'ImageRadioSelectControl'
.components-base-control.image-radio-select-control-label {
	margin-bottom: 5px;
	margin-top: 10px;
}
// Buttons with images in 'ImageRadioSelectControl'
.woo-lookblock-products-layout {
	height: auto;
	border-radius: 5px !important;
	margin: 0 2px;

	&:first-child {
		margin-left: 0;
	}
}

.block-editor-block-inspector .woo-lookblock-label {
	margin-bottom: 12px;
}

// Marker edit buttons.
.marker-product-title {
	.unassign { visibility: hidden; opacity: 0; }
	&:hover {
		.unassign { visibility: visible; opacity: 1;}
	}
}
.product-marker {
	.remove-marker { visibility: hidden; opacity: 0;}
	&:hover {
		.remove-marker { visibility: visible; opacity: 1;}
	}
}

.components-button {
	&.unassign, &.remove-marker {
		position: absolute;
		top: -12px;
		left: calc(100% - 12px);
		padding: 5px !important;
		width: -moz-max-content;
		width: max-content;
		min-width: auto !important;
		height: 24px;
		border-radius: 50%;
		z-index: 10;
		transition: all .3s linear;
	}

	&.unassign {
		background: #246fb1;
		color: #fff;
		transform: scale(0.7);
	}

	&.remove-marker {
		background: #ed006b;
		color: #fff;
		transform: scale(0.6);
	}
}
