/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-micemade-woo-lookblock {

	position: relative;

	.cover-image {
		z-index: 0;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	.flex-container {
		display: flex;
		z-index: 1;
		position: relative;

		&.row, &.image-only { flex-direction: row; }
		&.row-reverse { flex-direction: row-reverse; }
		&.column { flex-direction: column; }
		&.column-reverse { flex-direction: column-reverse; }
	}

	.flex-block {
		flex-grow: 0;
		position: relative;

		.product-grid,
		&.image-container,
		&.image-container .marker,
		&.image-container img {
			position: relative;
		}

		&.image-container {

			img {
				width: 100%;
				z-index: 1;
			}

			.product-marker {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 10;
				transform: translate(-50%, -50%);
				transition: all 0.2s linear;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid rgb(100, 100, 100, 0.5);
				background: rgba(255, 255, 255, 0.9);
				opacity: 0.85;
				// mix-blend-mode: difference;

				&::after {
					position: absolute;
					content: "";
					display: block;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: 100%;
				}
/* 
				&::before {
					content: attr(data-product-title);
				}
 */
				&::after {
					z-index: 0;
					top: 50%;
					border: 1px solid rgb(100, 100, 100, 0.5);
					border-radius: 50%;
					animation: animation-1 2s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
				}

				&:hover {
					transform: translate(-50%, -50%) scale(1.05);
					opacity: 1;
				}

				.marker-product-title {
					display: flex;
					position: absolute;
					top: 130%;
					color: #333;
					background: #fff;
					width: max-content;
					padding: 2px 8px;
					font-size: 14px;
					border-radius: 3px;
					line-height: 1.4;
					font-weight: 600;
					border: none;
					box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
				}

				.inner, .events-holder {
					position: absolute;
					display: block;
					cursor: pointer;
				}
				.inner {
					width: 6px;
					height: 6px;
					background-color: #df00ff;
					border-radius: 50%;
					z-index: 2;
				}

				.events-holder {
					width: 100%;
					height: 100%;
					background-color: transparent;
					border-radius: 50%;
					z-index: 3;
				}
			}

			.add-some-markers {
				position: absolute;
				bottom: 14px;
				left: 50%;
				transform: translateX(-50%);
				padding: 2px 8px;
				z-index: 10;
				font-size: 14px;
				line-height: 1.4;
				color: #333;
				background: rgba(255,255,255,0.7);
				border-radius: 4px;
			}

		}

		.product-grid {
			display: grid;
			box-sizing: border-box;

			.woo-lookblock-product {
				display: flex;
				flex-direction: column;
				transition: all 0.2s ease-in-out;
				background-color: transparent;
				box-shadow: none;
				transform: none;
				outline: transparent;

				&.highlighted {
					box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
					background: rgba(255, 255, 255, 0.65);
				}

				.product-featured-image {

					display: flex;
					align-items: flex-start;

					img {
						max-width: 100%;
						width: 100%;
						height: auto;
						object-fit: cover;
					}
				}

				.product-elements {
					display: flex;
					flex-direction: column;

					> :last-child {
						margin-bottom: 0 !important;
					}

				}

				.product-element {
					margin-top: 0;
					line-height: 1.2;
				}

				.product-title {
					font-size: 1.2em;

					> a {
						color: inherit;
					}

				}

				.product-excerpt {
					font-size: 0.8em;
					div > * {
						margin: inherit;
						color: inherit;
					}
				}

				.product-price {
					font-weight: 700;
				}

				.wp-block-button__link {
					display: inline-flex;
				}

				&.align-center { 
					.product-title {text-align: center;}
					.product-add-to-cart { transform-origin: center;}
					.product-excerpt > * {text-align: center;}
				}
				&.align-flex-start { 
					.product-title {text-align: left;}
					.product-add-to-cart { transform-origin: left center;}
					.product-excerpt > * {text-align: left;}
				}
				&.align-flex-end {
					.product-title {text-align: right;}
					.product-add-to-cart { transform-origin: right center;}
					.product-excerpt > * {text-align: right;}
				}
			}

			&.layout2 {
				.woo-lookblock-product {
					width: 100%;
					flex-direction: row;

					> * {
						flex: 1;
					}

				}
			}
		}
	}

	@media (max-width: 781px) {
		.flex-container.is-stacked-on-mobile.column,
		.flex-container.is-stacked-on-mobile.row {
			flex-direction: column;
		}
		.flex-container.is-stacked-on-mobile.column-reverse,
		.flex-container.is-stacked-on-mobile.row-reverse {
			flex-direction: column-reverse;
		}
		.flex-block.is-stacked-on-mobile {
			width: 100% !important;
		}
	}
}

#modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50vw;
	height: 70vh;
	background: #fff;
	z-index: 9999;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.react-tiny-popover-container {
	z-index: 100;
	width: clamp(340px, 50% + 20px, 600px);

	> .popover-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.5vw;
		background: #fff;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

		> .product-elements * {
			margin-block-start: 0.8vw;
			margin-block-end: 0.8vw;
		}
	}

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

@keyframes animation-1 {

	0% {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	100% {
		transform: translateX(-50%) translateY(-50%) scale(2);
		opacity: 0;
	}
}
