/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-micemade-woo-lookblock {

	position: relative;

	.cover-image {
		z-index: 0;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	.flex-container {
		display: flex;
		z-index: 1;
		position: relative;
	}
	
	.flex-block {
		// flex: 1 1 auto;
		position: relative;
		.product-grid, 
		&.image-container, 
		&.image-container .marker, 
		&.image-container img
		{
			position: relative;
		}

		.product-grid {
			display: grid;
			box-sizing: border-box;

			.woo-lookblock-product {
				padding: 1vw;
				transition: all .2s ease-in-out;
				background-color: transparent;
				box-shadow: none;
				transform: none;
				&.highlighted {
					background-color: rgba(255, 255, 255, 0.6);
					box-shadow: 0 10px 30px rgba(0,0,0, 0.15);
					transform: scale(1.02);
				}

				.product-featured-image {
					img { 
						width: 100%;
						max-width: 100%;
					}
				}
				.product-title {
					font-size: 22px;
				}
				.product-excerpt {
					font-size: 16px;
					line-height: 1.4;
				}
				.product-price{
					font-weight: bold;
				}
			}
		}

		&.image-container {
			img {
				width: 100%;
				z-index: 1;
			}

			.product-marker {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 10;
				transform: translate(-50%, -50%);
				transition: all 0.2s linear;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid rgb(100, 100, 100, .5);
				background: rgba(255, 255, 255, 0.9);
				opacity: 0.7;
				mix-blend-mode: difference;

				&:before, &:after {
					position: absolute;
					content: "";
					display: block;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: 100%;
				}
				
				&:before {
					content: attr(data-product-title);
					display: block;
					position: absolute;
					color: white;
					text-shadow: 1px 1px 1px #000;
					width: max-content;
					padding: 0.5vw;
					font-size: 16px;
					font-weight: bold;
				}

				&:after {
					z-index: 0;
					top: 50%;
					border: 1px solid rgb(100, 100, 100, .5);
					border-radius: 50%;
					animation: animation-1 2s cubic-bezier(.22,.61,.36,1) infinite;
				}

				&:hover {
					cursor: pointer;
					transform: translate(-50%, -50%) scale(1.1);
					opacity: 1;
				}
				.inner {
					display: block;
					width: 6px;
					height: 6px;
					background-color: #df00ff;
					border-radius: 50%;
					z-index: 2;
					
				}
				
				.remove-marker {
					position: absolute;
					left: 100%;
					top: 0;
				}
			}

		}
	}
	
	/* For server render component */
	.selected-products {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;

		.product {
			flex: 1 0 20%;
			margin: 5px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}
	/* End for server render component */
}

@keyframes animation-1 {
	0% {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 0
	}
	25%{
		opacity: 1
	}
	100%{
		transform: translateX(-50%) translateY(-50%) scale(2);
		opacity: 0
	}
}